.DS_Store
.history
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/demo/
/test/
**/__tests__
/example/
/config/
/scripts/

/dist/mapboxgl/
/public/index.html
/public/libs/Cesium/
/public/mbgl-index.js

/src/mapboxgl/packageConfig.json
/dist/iclient-mapboxgl-react.min.js.LICENSE

.git
.github
.editorconfig
.eslintignore
.eslintrc.js
.npmrc
.prettierrc
babel.config.js
index.html
jest.config.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
package-lock.json
sonar-project.properties
**/package-config.json


